.pixelated-image-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.pixelated-image-card__default,
.pixelated-image-card__active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pixelated-image-card__active {
    display: none;
}

.pixelated-image-card__pixels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.pixelated-image-card__pixel {
    position: absolute;
    display: none;
}